/* .comment-wrapper{
    height: 150px;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent;
    border-radius: 10px !important;
}
.comment{
   
    background-color: #2b3a52;
    color: white;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    resize: none; 
    padding: 10px; 
    border: 1px solid white;
    border-radius: 10px;
    
}
.comment:focus{
    outline: none !important
}
.modal-header{
    border-bottom: none !important;
}
.modal-title{
    border-bottom: #2b3a52!important;
    color: white !important;
}
.modal-body{
    border-bottom: none !important;
}
.modal-content{
    background-color: #2b3a52 !important;
}
.modal-footer{
    border-top: none !important;
} */
